body 
{
    background:  white;
    font-family: 'Montserrat', sans-serif;
}
head{background-color: black;}
#navbarColumna{display: none;}
*{color: black;margin:0;padding: 0;}
hr
{
    border-top: 1px dashed #f57f61;
    margin-left: 25%;
    margin-right: 25%;
}
.w3-container{ background-color: #f57f61;}
#text{color:black ;}
#titulo
{
    margin: 0px !important;
    background-color: black;
}
#titulo h1
{
    margin: 0px;
    margin-left: 2%;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1%;
}
.navbar
{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: black;
    margin: 0px;
    font-size: 14pt;
    padding-bottom: 1%;
    padding-right: 1%;
}
.navbar-brand
{
    text-decoration: none;
    color: white;
}
.navbar-toggler{display: none;}
.navbar a
{
    text-decoration: none;
    margin-right: 10px;
    color: white;
}
#navbarCollapse{display: contents;}
a{text-decoration: none;}
a:hover{color:#f57f61;}
.hero, .about, .service, #experience,#price,#review,#team,#contact,#blog
{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 5%;
}
.hero .row{display: flex;margin-top: 10%; gap:20%}
.hero-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-btn .btn,
.about-content .btn,
.skills .btn,
.banner-text .btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 10px;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.hero-text h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50pt;
    margin-left: 15%;
}
.about h2
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-image{display: flex;justify-content: center;align-items: center;}
.about-img
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{max-width: 60%;max-height: 100%;}
h1
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-name{margin-bottom: 2%;}
.skill-name p
{
    font-weight: bold;
}
.btn
{
    border: solid #f57f61 1px;
    margin-top: 2%;
    margin-bottom: 2%; 
    text-decoration: none;
    width: fit-content;
    margin-left: 2%;
    background-color: #f57f61;
    color: #333647;
    font-weight: bold;
}
.btn:hover
{
    background-color: transparent;
}
#about-skills-padre
{
    display: flex;
}

.about-text
{
    margin-left: 15%;
    width: 70%;
}
.about-text p{margin-top: 5%;text-align: justify;}
.about-content .btn{margin-left: 45%;}

.skills{width: 80%;margin-right: 15%;}
#portfolio{margin-bottom: 5%;}
.portfolio-container{display: grid;}

.service-span
{
    margin-left: 2%;
    font-weight: bold;
    font-size: large;
}

.service-text
{
    margin-top: 2%;
    margin-bottom: 2%;
}
.service-icon i,.service-icon span  {color: #f57f61;}
#experience h2{font-weight: bold;}
.timeline-date
{
    font-weight: bold;
}

.timeline-text h2,
.timeline-text h4, 
.timeline-text p
{
    font-weight: bold;
}
.timeline-text h4{color: #f57f61;}
.banner{background-color: black;}
.banner h1, 
.banner h2,
.banner span,
.banner p  
{
    text-align: center;
    color: white;
}
.banner-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
}
#portfolio .text-center
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#portfolio-filter
{
    margin-bottom: 5%;
    list-style-type: none;
    padding: 0;
    color: #333647;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#portfolio-filter li
{
    display: block;
    color: #333647;
    padding: 8px 16px;
    width: 50%;
    text-decoration: none;
    background-color: #f57f61;
}
#portfolio-filter li:hover 
{
    background-color: #333647;
    color: #f57f61;
    border: solid #f57f61 1px;
    cursor: pointer;
}

.portfolio-container
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columnas */
    grid-template-rows: 1fr 1fr; /* 2 filas */
    gap: 10px; /* Espacio opcional entre las celdas del grid */
    justify-items: center; /* Centra los elementos horizontalmente */
    align-items: center;   /* Centra los elementos verticalmente */
}
#price h2{text-align: center;}
.price-title h2{color: #f57f61;}
#prices
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columnas */
    grid-template-rows: 1fr; /* 1 fila */
    gap:10em;
}
.price-action
{
    margin-top: 20%;
    margin-left: 20%;
}
.price-action .btn{padding: 2%;}
.price-body{margin-left: 20%;}
#review
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}
.testimonial-item
{
    column-gap: 10%;
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    
}
#cita-cliente{font-size: 50pt;}
#team h2{text-align: center;}
.team-item
{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;;
}
.team-social
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-social .btn{background-color: transparent;border: 0px;}
.team-text h4 {color: #f57f61;}
#contactForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
#contactForm .btn:hover
{
    color: #f57f61;
}
.control-group{margin-bottom: 2%;}
#blog h2{text-align: center;}
.blog-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-meta
{   
    display: flex;
    flex-direction: column;
}
/*.blog-meta span{margin-left: 2%;}*/
.blog-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-text .blog-desc {width: 35%;}
.blog-text .btn{ padding: 0.5%;margin-left: 0px;}

.footer
{
    
    background-color: black;
   
   
    margin-bottom: 0px;
}
.footer *{color: white;}
.footer-info
{
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    padding-top: 1%;
}
#titulo-footer-container
{
    margin-left: 2%;
}
#titulo-footer-container h2
{
    text-transform: uppercase;
    font-weight: bold;
}
#datos-legales
{    
    margin-left: 2%;
    margin-right: 45px;
    margin-bottom: 25px;
}
#container-ancla
{
    background-color: black;
    margin: 0px;
    border: solid;
}
.back-to-top
{    
    margin-left: 90%;
    padding: 0.3%;
}
.back-to-top:hover{background-color: #f57f61;}
/*
    mascara de texto para la imagen
*/
.overlay 
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
}

.portfolio-img:hover .overlay 
{
    opacity: 1;
}
.overlay-txt
{
  color: white;
  font-size: 20pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.portfolio-img
{
    position: relative;
    width: 100%;
    max-width: 400px;
}
.portfolio-img img
{
    display: block;
    width: 100%;
    height: auto;
}
.overlay a:hover{color: white;}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) 
{
    #navbarCollapse{display: none;}
    #navbarColumna
    {
        display: contents;
        background-color: #f57f61;
    }

    hr
    {
        border-top: 1px dashed #f57f61;
        margin-left: 10%;
        margin-right: 10%;
    }


    #navbarColumna  {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #333647;
        font-weight: bold;
      }
      
      #navbarColumna  li a {
        display: block;
        color: #333647;
        padding: 8px 16px;
        width: 100%;
        text-decoration: none;
        background-color: #f57f61;

      }
      
      /* Change the link color on hover */
      #navbarColumna li a:hover {
        background-color: #333647;
        color: #f57f61;
        border: solid #f57f61 1px;
      }
    .hero, .about, .service, #experience {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-text h1, .about h2 {
        font-size: 1.5rem; /* Reduce el tamaño del texto para dispositivos móviles */
    }

    .hero-btn .btn, .about-content .btn, .skills .btn {
        padding: 5px; /* Ajusta el relleno para los botones */
        margin-right: 0;
        margin-bottom: 10px;
    }

    .hero .row{flex-flow: column;}
    .hero-text h1{margin-left: 0px;}
    #about-skills-padre 
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-text
    {
       display: flex;
       width: 95%;
       justify-content: center;
       align-content: center;
       flex-wrap: wrap;
       margin-left: 0px;
    }
    .about-text .btn
    {
        margin-left: 10% !important;
    }
    .skills 
    {
        margin-left: 0px;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 0px;
    }

    .skills p{text-align: center;}

    #service
    {
        margin-left: 10%;
    }
    #experience .container{
        display: flex;flex-direction: column;justify-content: center;align-items: center;
    }
    .timeline
    {
        display: flex;flex-direction: column;justify-content: center;align-items: center;
        margin-left: 2%;
    }
    #prices
    {
        display: flex;
        flex-flow: column;
        gap: 3em;
    }
    #review
    {
        width: 95%;
        margin-left: 5%;
    }
    #cita-cliente
    {
        font-size: 25pt;
        text-align: center;
    }
    .team-text h4,
    .team-text p
    {
        margin-left: 5%;
    }
    .overlay-txt{font-size: 12pt;}
}