*{
    box-sizing: border-box; /*ens permet que no baixin els elements, un al costat del altre*/
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    border: 1px solid black;
    width: 100%;
    margin: auto;
}
.items{
  display: grid;
  /*grid-template-columns: repeat (4, 25%) el mateix que 25% 25% 25% 25%; perque no se surti del border farem servir fr*/
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.item{
    width: 100%;
    background-color: coral;
    border: 1px solid gainsboro;
    /*margin-bottom: 10px; = padding es del borde cap a dins (borde amb color), i margin es del borde cap a fora, espais entre colors*/
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /*nomes funciona en display grid i display flex*/
    font-weight: bold;
    color: white;
}
@media (min-width: 1200px){ /*el q posem aqui s'aplica quan la mida de la pantalla és de més de 1200px*/
    .container{
        width: 1200px; 

    }
    .items{       
        grid-template-columns: repeat(3, 1fr 2fr);
    }
}