 .container{

    margin-left: 20%;
    margin-right: 20px;
}

.title{

}

.title p{

}

.title h1{

}

.product{

}

.products .computer{

}

.computer .image{

}

.computer h2{

}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* 1 */ 
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0; /* Fondo gris */
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
      padding: 20px;
    }

    .grid-item {
      background-color: #fff; /* Color blanco */
      color: #333;
      text-align: left;
      padding: 20px;
      border-radius: 10px; /* Bordes redondos */
      position: relative;
    }

    .grid-item img {
      max-width: 100%;
      height: auto;
      display: block;
      border-radius: 10px 10px 0 0; /* Bordes redondos solo arriba */
    }

    .top-left-image {
      position: absolute;
      top: 0;
      left: 30;
    }

    .top-right-image {
      position: absolute;
      top: 0;
      right: 0;

    }

    .center-image {
      max-width: 100%;
      height: auto;
      display: flex;
      margin-top: 20px;
      margin-left: 70px;
    }

    .title {
      font-size: 18px;
      font-weight: bold;
      margin-top: 5px;
      text-align: left;
    }

    .description {
      text-align: left;
      margin-top: 10px;
    }

    .text-container {
        display: flex;
        justify-content: space-between;
      }
      
      .red-text {
        color: red;
        text-align: left; /* Alineado a la izquierda */
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

      }
      
      .strikethrough-text {
        text-decoration: line-through; /* Texto tachado */
        color: #777; /* Color gris para el texto tachado */
        margin-top: 10px;
        margin-right: auto;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

      }
    .separator {
      border-top: 1px solid #ccc; /* Línea fina gris */
      margin-top: 10px;
    }

    .small-text {
      font-size: 12px;
      color: #666; /* Color gris */
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .container {
        display: flex;
        margin-top: 10px;
        text-align: left;
         justify-content: space-between;
         margin-right: 50px;
      }
      
      .container img {
        max-width: 30px;
        height: auto;
        margin-right: 5px; /* Espacio entre la imagen y la palabra */
      }
    .button {
      background-color: #1AB76C; /* Color verde */
      color: #fff; /* Color blanco */
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      margin-top: 10px;
      width: 70%;
    }

    .circle {
        background-color: #fff; /* Relleno blanco */
        border: 2px solid #4caf50; /* Borde verde */
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 10px;
        text-align: center;
        line-height: 30px;
        font-size: 16px;
        color: #4caf50; /* Color verde */
      }
    @media only screen and (max-width: 768px) {
        .grid-container {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(6, 1fr);
        }
        .grid-item {
          padding: 10px;
        }
      }


       /* 2 */ 

    
      .grid-item {
        background-color: #fff; /* Color blanco */
        color: #333;
        text-align: left;
        padding: 20px;
        border-radius: 10px; /* Bordes redondos */
        position: relative;
      }
  
      .grid-item img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 10px 10px 0 0; /* Bordes redondos solo arriba */
      }
  
      .top-left-image {
        position: absolute;
        top: 0;
        left: 30;
      }
  
      .top-right-image {
        position: absolute;
        top: 0;
        right: 0;
  
      }
  
      .center-image {
        max-width: 100%;
        height: auto;
        display: flex;
        margin-top: 20px;
        margin-left: 70px;
      }
  
      .title {
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
        text-align: left;
      }
  
      .description {
        text-align: left;
        margin-top: 10px;
      }
  
      .text-container {
          display: flex;
          justify-content: space-between;
        }
        
        .red-text {
          color: red;
          text-align: left; /* Alineado a la izquierda */
          margin-top: 10px;
          font-size: 14px;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
  
        }
        
        .strikethrough-text {
          text-decoration: line-through; /* Texto tachado */
          color: #777; /* Color gris para el texto tachado */
          margin-top: 10px;
          margin-right: auto;
          font-size: 14px;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
  
        }
      .separator {
        border-top: 1px solid #ccc; /* Línea fina gris */
        margin-top: 10px;
      }
  
      .small-text {
        font-size: 12px;
        color: #666; /* Color gris */
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
  
      .container {
          display: flex;
          margin-top: 10px;
          text-align: left;
           justify-content: space-between;
           margin-right: 50px;
        }
        
        .container img {
          max-width: 30px;
          height: auto;
          margin-right: 5px; /* Espacio entre la imagen y la palabra */
        }
      .button {
        background-color: #1AB76C; /* Color verde */
        color: #fff; /* Color blanco */
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 10px;
        width: 70%;
      }
  
      .circle {
          background-color: #fff; /* Relleno blanco */
          border: 2px solid #4caf50; /* Borde verde */
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: inline-block;
          margin-left: 10px;
          text-align: center;
          line-height: 30px;
          font-size: 16px;
          color: #4caf50; /* Color verde */
        }
      @media only screen and (max-width: 768px) {
          .grid-container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
          }
          .grid-item {
            padding: 10px;
          }
        }
  